/* User - Custom Style Sheet */

.reveal h1 {
    position: fixed;
    top: 0px;
    color: #FF585B;
    font-size: 2.0em;
}

.reveal .slide-0 img {
    background-color:#191919;
    border: none
}

.reveal .slide-0 .subtitle {
    position: relative;
    top: -10px;
}

.reveal .slide-0 .date {
    font-size: 0.75em;
    color: #666;
}

.reveal .slide-0 ul {
    font-family: monospace;
    font-size: 0.45em;
    color: #AAA;
    list-style: none;
    line-height: 1.3em;
    position: relative;
    right: 250px;
    top: 50px
}

.reveal .slide-1 ul {
    font-size: 1.0em
}

.reveal .slide-1 li {
    position: relative;
    right: 200px;
    
}

.reveal .slide-1 a {
    color: #FFF;
}

.reveal .slide-2 p {
    text-align: left;
}

.reveal .slide-2-1 p {
    font-size: 0.9em;
    text-align: left;
}

.reveal .slide-5-1 img {
    border: none;
    position: relative;
    left: -150px;
    width: 80%;
}